#cont {
  background-image: linear-gradient(black, grey);
  
  height: 100vh;
  width: auto;
  background-position: fixed;
  background-repeat: no-repeat;
}

.bevezeto {
  color: white;
}

#bevezetokep {
  width: 21vw; 
  height: 40vh;
}