#cont {
  background-image: linear-gradient(black, grey);
  
  height: 200vh;
  width: auto;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.bevezeto {
  color: white;
}

#bevezetokep {
  height: 100%;
  width: auto;
}

section {
  color: white;
}

.gomb {
  text-decoration: none;
  padding: 5%;
  background-color: rgb(170, 2, 2);
  color: white;
  border-radius: 10px;
  
}

.gomb:hover {
  background-color: red;
  transition: 500ms;
  text-decoration: none;
  color: white;
}

#cards {
  color: white;
}

#kartya1,
#kartya2,
#kartya3,
#kartya4 {
  background-color: rgba(71, 71, 71, 0.274);
  width: 20vh;
  height: auto;
}